* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --black-color: black;
  --white-color: white;
  --dark-color: #0a2f49;
  --beige-color: #e7ddd5;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
}

a {
  text-decoration: none;
}
.link {
  color: var(--black-color);
  transition: color 0.3s;
}
.link:hover {
  color: #de3421 !important;
}

ul {
  list-style: none;
}

nav {
  background: rgb(5, 28, 46);
  background: linear-gradient(90deg, rgba(5, 28, 46, 1) 0%, rgba(13, 50, 79, 1) 35%, rgba(23, 78, 120, 1) 100%);
}

img {
  max-width: 100%;
}

.text-beige {
  color: var(--beige-color) !important;
}

.text-blue {
  color: var(--dark-color) !important;
}

.nav-link:hover {
  color: var(--beige-color) !important;
}

.active {
  color: var(--beige-color) !important;
  font-weight: 700;
}

header {
  background-color: var(--beige-color);
}

h1 {
  font-size: 24px;
}

.text-header {
  font-size: 18px;
}

.about-me {
  background: rgb(5, 28, 46);
  background: linear-gradient(90deg, rgba(5, 28, 46, 1) 0%, rgba(13, 50, 79, 1) 35%, rgba(23, 78, 120, 1) 100%);
  color: var(--white-color);
}

.offer,
.therapy {
  background-color: var(--beige-color);
}

iframe {
  width: 100%;
}

.reviews-box {
  border-radius: 8px;
  box-shadow: 3px 3px 10px #2e2e2e2e;
}
.bi-quote {
  color: var(--dark-color);
}

.contact {
  background-color: var(--beige-color);
}

footer {
  background: rgb(5, 28, 46);
  background: linear-gradient(90deg, rgba(5, 28, 46, 1) 0%, rgba(13, 50, 79, 1) 35%, rgba(23, 78, 120, 1) 100%);
  color: var(--white-color);
}

@media (max-width: 350px) {
  .text-skype {
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 20px;
  }
  .text-header {
    font-size: 20px;
  }
}
